/* ---------------  CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- Variables */
:root {
    --main-color: #0C151D;
    --main-color-lighter: #172938;
    --secondary-color: #bfd3c1;
    --header-color: #FFB01F;
    --form-placeholder: #D3D3D3;
}

/* --------------- Typography */
@font-face {
    font-family: 'raleway';
    src: url(../assets/Raleway/Raleway-VariableFont_wght.ttf) format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'REM', sans-serif;
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
    color: var(--header-color);
}

h2,
h3,
h4 {
    line-height: 200%;
}

p, h1 > span {
    font-family: 'Raleway', sans-serif;
}

p {
    line-height: 150%;
}

h1 > span {
    font-weight: 300;
    font-size: 50%;
}

.project-tools > span {
    color: var(--main-color);
    font-weight: 600;
}

.form-input {
    font-size: 15px;
}

/* --------------- Body */
/* ----- General */
body {
    background-color: var(--main-color);
}
header, main > *, footer{
    padding: 5%;
}
p {
    margin-bottom: 5%;
}

/* ----- Header */
header {
    display: flex;
    position: sticky;
    background-color: var(--main-color);
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#logo {
    border-radius: 50%;
    height: 3em;
}

/* ----- Main */
main {
    margin-bottom: 5%;
}
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
    height: 40vh;
}
h1 > span {
    display: block;
    text-indent: 20px;
}

#self-portrait {
    max-width: 90vw;
    margin: 10px 0;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid var(--main-color-lighter) 2px;
    border-radius: 0 0 100px 0;
    background-color: var(--main-color-lighter);
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    min-height: 200px;
}
.project-tools > span {
    background-color: var(--secondary-color);
    border: solid var(--secondary-color) 2px;
    padding: 0 5px;
    border-radius: 5px;
}

#toolkit > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3%;
    gap: 30px;
}
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}
li > img, svg {
    height: 40px;
}

/* ----- Footer */
footer {
    background-color: var(--main-color-lighter);
}

form {
    margin-bottom: 20px;
}
.form-input {
    border: solid 2px var(--form-placeholder);
    border-radius: 5px;
    color: var(--form-placeholder);
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
form > button {
    background-color: var(--header-color);
    color: var(--main-color);
    padding: 10px;
    border: 2px solid var(--header-color);
    border-radius: 5px;
}
textarea {
    max-width: 90vw;
    min-width: 90vw;
    width: 90vw;
}

/* --------------- TABLET SIZE */
@media only screen and (min-width: 600px) {

}

/* --------------- DESKTOP SIZE */
@media only screen and (min-width: 992px) {

}