/* ---------------  CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- Variables */
:root {
    --main-color: #0C151D;
    --main-color-lighter: #172938;
    --secondary-color: #BFD3C1;
    --header-color: #FFB01F;
}

/* --------------- Typography */
@font-face {
    font-family: 'raleway';
    src: url(../assets/Raleway/Raleway-VariableFont_wght.ttf) format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'REM', sans-serif;
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4 {
    color: var(--header-color);
}

h2,
h3,
h4 {
    line-height: 200%;
}

p, h1 > span {
    font-family: 'Raleway', sans-serif;
}

p {
    line-height: 150%;
}

h1 > span {
    font-weight: 300;
}

.project-tools > span {
    color: var(--main-color);
    font-weight: 600;
}

/* --------------- Body */
/* ----- General */
body {
    background-color: var(--main-color);
}
header, main > *, footer{
    padding: 5%;
}
p {
    margin-bottom: 5%;
}

/* ----- Header */
header {
    display: flex;
    position: sticky;
    background-color: var(--main-color);
    top: 0;
    justify-content: space-between;
    padding: 20px;
}

/* ----- Main */
main {
    margin-bottom: 5%;
}
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
    height: 40vh;
}
h1 > span {
    font-size: 70%;
    display: block;
    text-indent: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid var(--main-color-lighter) 2px;
    border-radius: 0 0 100px 0;
    background-color: var(--main-color-lighter);
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    min-height: 200px;
}
.project-tools > span {
    background-color: var(--secondary-color);
    border: solid var(--secondary-color) 2px;
    padding: 0 5px;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

/* ----- Footer */
footer {
    background-color: var(--main-color-lighter);
}