/* GENERAL STYLING */
:root {
  --background-colour: #121212;
  --project-card-colour: #1a1a1b;
  --project-card-border-colour: #36353c;
  --tech-tag-background-colour: #2f2e34;
  --tech-tag-border-colour: #434249;
  /* Text Colors */
  --yellow: #ffea00;
  --grey-5: #e0e0e0;
  --neutral-grey-100: #cac7d3;
  --white: #ffffff;
  --grey-200: #aba9ba;

  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-colour);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.demo {
  font-family: "Roboto Flex", serif;
}

h1 {
  font-weight: 700;
  transform: scaleX(1.5) scaleY(1.2);
  font-size: 4em;
  width: 50%;
  text-align: center;
}

p,
button,
label,
span,
li {
  font-family: "Roboto", serif;
}

li {
  list-style-type: none;
}

h1,
h3,
h4 {
  color: var(--yellow);
}

h2 {
  color: var(--neutral-grey-100);
  font-size: 2.4em;
  font-weight: 900;
}

h3 {
  font-size: 2.5em;
  font-weight: 800;
}

p {
  font-size: 1.4em;
  color: var(--grey-200);
}

.app-container {
  width: 100vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  gap: 30px;
}

/* ---------- NAVIGATION */
.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  background-color: var(--background-colour);
  z-index: 1;
}

h4 {
  font-size: 4em;
  transform: scaleY(0.8);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 60%;
}
li {
  font-size: 1.8em;
  color: var(--grey-5);
}
li:hover {
  cursor: pointer;
}

/* ---------- HOME */
#home {
  padding-top: 40px;
}
#logo {
  margin: 40px 0;
}

#home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#title-tag,
#summary-tag {
  text-align: center;
}
#title-tag {
  color: var(--grey-5);
  font-weight: 500;
  font-size: 1.8rem;
}
#summary-tag {
  color: var(--grey-200);
}

#social-icon-container {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.social-links {
  color: var(--grey-5);
  font-size: 4rem;
}

/* ---------- ABOUT */
.about-text {
  text-align: center;
}

/* ---------- TECH STACK */
.tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80vw;
}
.tech-stack-container img {
  max-width: 12vw;
}

/* ---------- PROJECTS */
.project-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}
.project-card {
  width: 100%;
}
.project-images {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.project-card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--project-card-colour);
  border: var(--project-card-border-colour) 1px solid;
  border-radius: 0 0 8px 8px;
  padding: 15px;
  margin-top: -5px;
}
.project-title-link {
  text-decoration: none;
}
.project-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.project-link-icon {
  font-size: 0.7em;
}
.project-classification {
  font-weight: 500;
}
.project-description {
  line-height: 1.5em;
}
.project-tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}
.project-tech-tag {
  background-color: var(--tech-tag-background-colour);
  border: var(--tech-tag-border-colour) 1px solid;
  border-radius: 3px;
  padding: 3px 6px;
  font-weight: 500;
}

/* Large phones */
@media only screen and (min-width: 480px) {
  /* ---------- GENERAL */
  p {
    font-size: 1.6em;
  }
  /* ---------- NAVIGATION */
  ul {
    width: 45%;
  }
  /* ---------- HOME */
  #summary-tag {
    font-size: 1.6em;
    line-height: 25px;
  }
  /* ---------- ABOUT */
  .about-text {
    line-height: 25px;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) {
  /* ---------- NAVIGATION */
  ul {
    width: 30%;
  }
  /* ---------- HOME */
  #home-text {
    width: 100%;
  }
  /* ---------- ABOUT */
  .about-text {
    line-height: 25px;
    width: 80%;
  }
  /* ---------- PROJECTS */
  #projects {
    width: 100%;
  }
  .project-container {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .project-card {
    width: 40%;
    min-height: 40vh;
  }
  .project-images {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .project-card-text {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    justify-content: space-between;
  }
}

/* Smaller desktop views */
@media only screen and (min-width: 1024px) {
  /* ---------- NAVIGATION */
  ul {
    width: 20%;
  }
  /* ---------- HOME */
  #home {
    width: 100%;
  }
  #home-text {
    width: 100%;
    gap: 5px;
  }
  h1 {
    font-size: 5.5em;
  }
  #title-tag {
    font-size: 2em;
  }
  #social-icon-container {
    width: 15%;
  }
  /* ---------- TECH STACK */
  .tech-stack-container img {
    max-width: 7vw;
  }
  /* ---------- ABOUT */
  .about-text {
    line-height: 25px;
    width: 80%;
  }
  /* ---------- PROJECTS */
  #projects {
    width: 80%;
  }
}

/* Desktops */
@media only screen and (min-width: 1280px) {
  /* ---------- GENERAL */
  .app-container {
    width: 100%;
  }
  /* ---------- NAVIGATION */
  ul {
    width: 15%;
  }
  /* ---------- HOME */
  #home {
    padding-top: 100px;
  }
  h1 {
    font-size: 6.5em;
  }
  h1:hover {
    cursor: pointer;
  }
  #social-icon-container {
    width: 10%;
  }
  .social-links {
    font-size: 5rem;
  }
  /* ---------- ABOUT */
  .about-text {
    width: 50%;
  }

  /* ---------- PROJECT */
  .project-container {
    width: 70%;
  }
  .project-card-text {
    overflow: hidden;
    justify-content: space-around;
  }
}
