/* GENERAL STYLING */
:root {
  --background-colour: #121212;
  --project-card-colour: #1A1A1B;
  --project-card-border-colour: #36353C;
  --tech-tag-background-colour: #2F2E34;
  --tech-tag-border-colour: #434249;
  /* Text Colors */
  --yellow: #ffea00;
  --grey-5: #e0e0e0;
  --neutral-grey-100: #cac7d3;
  --white: #ffffff;
  --grey-200: #aba9ba;

  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-colour);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.demo {
  font-family: "Roboto Flex", serif;
}

h1 {
  font-weight: 700;
  transform: scaleX(1.5) scaleY(1.2);
  font-size: 4em;
  width: 50%;
  text-align: center;
}

p,
button,
label,
span,
li {
  font-family: "Roboto", serif;
}

li {
  list-style-type: none;
}

h1,
h3,
h4 {
  color: var(--yellow);
}

h2 {
  color: var(--neutral-grey-100);
  font-size: 2.4em;
  font-weight: 900;
}

h3 {
  font-size: 2.5em;
  font-weight: 800;
}

p {
  font-size: 1.4em;
  color: var(--grey-200);
}

.app-container {
  width: 100vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 40px 0;
  gap: 30px;
}

/* ---------- NAVIGATION */
.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  background-color: var(--background-colour);
}

h4 {
  font-size: 4em;
  transform: scaleY(0.8);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 60%;
}
li {
  font-size: 1.8em;
  color: var(--grey-5);
}
li:hover {
  cursor: pointer;
}

/* ---------- HOME */
#home {
  padding-top: 70px;
  min-height: 80vh
}
#logo {
  margin: 40px 0;
}

#home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#title-tag,
#summary-tag {
  text-align: center;
}
#title-tag {
  color: var(--grey-5);
  font-weight: 500;
  font-size: 1.8rem;
}
#summary-tag {
  color: var(--grey-200);
}

#social-icon-container {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.social-links {
  color: var(--grey-5);
  font-size: 4rem;
}

/* ---------- ABOUT */
.about-text {
  text-align: center;
}

/* ---------- TECH STACK */
.tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80vw;
}
.tech-stack-container img {
  max-width: 12vw;
}

/* ---------- PROJECTS */
.project-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}
.project-card {
  width: 100%;
}
.project-images {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.project-card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--project-card-colour);
  border: var(--project-card-border-colour) 1px solid;
  border-radius: 0 0 8px 8px;
  padding: 15px;
  margin-top: -5px;
}
.project-title-link {
  text-decoration: none;
}
.project-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.project-link-icon {
  font-size: 0.7em;
}
.project-classification {
  font-weight: 500;
}
.project-description {
  line-height: 1.5em;
}
.project-tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}
.project-tech-tag {
  background-color: var(--tech-tag-background-colour);
  border: var(--tech-tag-border-colour) 1px solid;
  border-radius: 3px;
  padding: 3px 6px;
  font-weight: 500;
}